<div class="flexit-column">
    <div class="flexit-center"><h1 class="flexit-center">Pet</h1><h1 class="flexit-center blue">Sitters</h1></div>
    <div class="flexit-center">
        <%= image_tag "pets.jpg", style: "border-radius: 2rem; max-width: 40rem;" %>
    </div>
    <br />
    <br />
    <div class="flexit-center">
        <%= link_to "Create a Booking", new_booking_path %>
    </div>

</div>